{% extends "adminpages/base.html" %}
{% load static %}
{% block content %}
<h1> Foods list </h1>
{% if lastest_food_list %}

<table style = "width:100%">
    <tr>
        <th>Food name</th>
        <th>Image</th>
        <th>Descriptions</th>
    </tr>
    {% for food in lastest_food_list %}
    <tr>
        <th style = "width:30%" ><a href="{% url 'fooddetail' food.food_name %}">{{ food.food_name }}</a></th>
        <th style = "width:40%" ><img src = "{% static food.food_image %}" style="width: 100% ; height: 100%" alt="{{ food.food_name }}_image"></th>
        <th style = "width:30%" >{{ food.food_des }}</th>
    </tr>
     {% endfor %}
</table>


{% else %}
    <p> No foods are available</p>
{% endif %}

{%  endblock %}