<h1>{{ food.food_name }} include </h1>
{% if  error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'fooddetail' food.food_name %}" method="post">
    {% csrf_token %}
    {% for ingredient in food.foodingredient_set.all %}
    <input type="radio" name="ingredient" id="ingredient{{ forloop.counter }}" value="{{ ingredient.ingredient_name }}">
    <label for="ingredient{{ forloop.counter }}"> {{ ingredient.ingredient_name }}</label><br>
    {% endfor %}
<input type="submit" value="vote">
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'add_comment_to_food' food_name=food.food_name %}">Add comment</a>

{% for comment in food.comment_set.all %}
    <ul>
        <p>{{ comment.content }}</p>
        <strong>Commented by {{ comment.user.username }}</strong>
            {% for reply in comment.replies.all %}
              <li>
                  {{ reply.text }}
              </li>
            {% endfor %}
    </ul>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}


