{% extends "adminpages/base.html" %}
{% load static %}
{% block content %}
<h1> Ingredients list </h1>

{% if lastest_ingredient_list %}
<table style = "width:100%">
    <tr>
        <th>Ingredient name</th>
        <th>Image</th>
        <th>Descriptions</th>
    </tr>
    {% for ingredient in lastest_ingredient_list %}
    <tr>
        <th><a href="{% url 'ingredientdetail' ingredient.ingredient_name %}">{{ ingredient.ingredient_name }}</a></th>
        <th style = "width:40%" ><img src = "{% static ingredient.ingredient_image %}" style="width: 100% ; height: 100%" alt="{{ ingredient.ingredient_name }}_image"></th>
        <th>{{ ingredient.ingredient_des }}</th>
    </tr>
     {% endfor %}
</table>

{% else %}
    <p> Nothing to show</p>
{% endif %}

{% endblock %}